// font sizes
$base-font-size : 1.4rem; // if "15px" then 1em = 15px

$line-height    : 1.45;
$h1-size        : 5.6rem; 
$h2-size        :  4rem; 
$h3-size        : 2.8rem; 
$h4-size        : 2rem; 
$h5-size        : 1.6px; 
$h6-size        : 1.4rem; 
$nav-link-size: 2rem;


// Paragraphes sizes
$text-size  : $base-font-size;
$text-line-height  : $line-height;
$p-bigger-size: 1.6rem;
$p-bigger-l-size: 2rem;

// Titres sizes
// Remove
$titre-slide-size: 6rem;
$titre-page-size: $h1-size;
$titre-chapeau-size: $h4-size;
$sous-titre-size: 2rem;
$section-size: $h2-size;
$titre-paragraphe-size: $h4-size;
$titre-bloc-size: $h4-size;
$titre-footer-size: $h6-size;

// Google font weights:
$thin: 100;  
$extra-light: 200;  
$light: 300;  
$normal: 400;  
$medium: 500;  
$semi-bold: 600;  
$bold: 700;  
$extra-bold: 800;  
$ultra-bold: 900;

// font stacks
$font-stack-common    : "Clash Grotesk", "Helvetica", Arial, sans-serif;
$font-stack-headings  : "Merriweather", serif;

// colors
$base-color: #373737;
$base-text-color :   $base-color;
$dominant-color: $base-color;

$color1 : $dominant-color; 
$color2 : #0E112B; 
$color3 : #f2f2f2;

$white : #FFFFFF;
$base-grey    : #555555;
$base-black : #000101;

$grey: #CECECE;
$grey2: #d5d8da;
$grey3: #d2d2d2;
$grey4: #e0e0e0;
$light-grey : #eaeaea;
$light-grey2 : #f2f2f2;

// background colors
$base-background: #0E112B; // background color
$body-background: #f5f7f9; // body background color
$bg-color1     : #e4edf2; // primary elements background color
$bg-color2     : #8aabc2; // secondary elements background color

// spacings (choose unit you prefer)
$paragraph-spacing : 20px;
$vertical-spacing: 60px; // Vertical spacing between elements
$border-window-spacing: 60px; // Spacing between window borders and elements
$border-window-spacing-sm: 30px; // Spacing between window borders and elements


$tiny-value             : 10px; // tiny value for margins / paddings
$small-value            : 20px; // small value for margins / paddings
$medium-value           : 40px; // medium value for margins / paddings
$large-value            : 60px; // large value for margins / paddings
$extra-large-value      : 80px; // extra large value for margins / paddings
$ultra-large-value      : 160px; // ultra large value for margins / paddings

/* Layout
----------------------------------------------------------------------------------------*/

$fullwidth-container-width: 1660px;

// If body boxed and not full width
$main-container-width: 1200px;

/* Grid
------------------------------------------*/

$grid-gutter-width : 4rem !default; // 40px
$grid-gutter-width-base : $grid-gutter-width !default; // 40px
$bootstrap-padding: 20px;

$container-max-widths: (
  sm: 720px,
  md: 960px,
  lg: $main-container-width
) !default;


$col-14-3-w : 21.4285714%;
$col-14-11-w: 78.571428%;

// breakpoints 
$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 768px,
  // Medium screen / tablet
  md: 960px,
  // Large screen / desktop
  lg: 1200px,
  // Extra large screen / wide desktop
  xl: 1640px
) !default;


$max-tiny: "(max-width: 543px)";  
$max-small: "(max-width: 768px)"; 
$max-medium: "(max-width: 960px)";
$max-large: "(max-width: 1200px)";
$max-xl: "(max-width: 1640px)";

$min-tiny: "(min-width: 544px)"; 
$min-small: "(min-width: 769px)"; 
$min-medium: "(min-width: 961px)";
$min-large: "(min-width: 1201px)";
$min-xl: "(min-width: 1641px)";

/* Header
------------------------------------------*/

$headertop-height: 40px;

/* Mobile navbar
------------------------------------------*/

$mobile-nav-item_h : 80px;
$mobile-nav-item_w : 160px;
$mobile-nav-link_h: 30px;

// contact menu
$mobile-nav-contact-menu-link_size: 20px;
$mobile-nav-contact-menu-link_padding: 20px;
$mobile-nav-contact-menu-link_w: $mobile-nav-contact-menu-link_size + $mobile-nav-contact-menu-link_padding*2;


/* Footer
------------------------------------------*/
$footer-height: 400px;

/* Navigation
------------------------------------------*/
$navigation-height : 50px;
$navigation-height-mobile : 50px;

$subpanel-width : 100%;
$subpanel-padding: 20px;

$navlink-opacity : 0.9;

/* Page content
------------------------------------------*/

/* Breadcrumb */

$breadcrumb-height : 100px;

/* Post list
------------------------------------------*/

$postThumb-height : 80px;

/* Home
------------------------------------------*/

$introText-size: 20px;
$homeBorder-size : 15px; 

/* Z indexes
------------------------------------------*/

$zindex-navbar : 890;
$zindex-mobile-navbar: 990;
$zindex-main-wrapper:10;
