/* $FX
========================================================================== */

// TODO: Ajout dans fichier fx.scss
// TODO: Changer les nom pour fx-*

/* LINKS
----------------------------------------------------------------------------------------*/

.link-fx-wrapper {
    position: relative;
}
/* fx1 hover effect */

.link-fx1 {
    position: relative;
    line-height: 1;
    display: inline-block;
    font-weight: 700;
    overflow: hidden;
    vertical-align: middle;
    &::before {
        content: attr(data-letters);
        position: absolute;
        z-index: 2;
        overflow: hidden;
        color: $base-text-color;
        white-space: nowrap;
        width: 0%;
        transition: width 0.3s 0.2s;
    }
    .link-fx-wrapper:hover &,
    .link-fx-wrapper.hover & {
        &::before {
            width: 100%;
        }
    }
    .link-fx-wrapper:active & {
        &::before {
            width: 100%;
        }
    }
    .active & {
        &::before {
            width: 100%;
        }
    }
}


/* from fx1 */

.link-fx2 {
    @extend .link-fx1;
    padding-bottom: 10px;
    line-height: 0.75;
    &::after {
        content: '';
        position: absolute;
        height: 5px;
        width: 100%;
        bottom: 0;
        right: 0;
        background: $base-text-color;
        transform: translate3d(-105%, 0, 0);
        transition: transform 0.3s;
        transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    }
    .link-fx-wrapper:hover &,
    .link-fx-wrapper.hover & {
        // color: rgba($base-text-color, 0.65);
        &::after {
            transform: translate3d(0, 0, 0);
        }
    }
    .link-fx-wrapper:active & {
        &::after {
            transform: translate3d(105%, 0, 0);
        }
    }
    .active & {
        &::after {
            transform: translate3d(0, 0, 0);
        }
    }
}

.link-fx3 {
    @extend .link-fx2;
    margin-bottom: -0.2em;
    padding-bottom: 0.3em;
    line-height: 1.1em;
    &::after {
        background-color: $base-text-color;
        transform: translate3d(0, 0, 0);
    }
    &__highlight {
            position: absolute;
            height: 1em;
            width: 100%;
            bottom: auto;
            left: 0;
            background: $grey2;
            transform: translate3d(-105%, 0, 0);
            transition: transform 0.3s;
            transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    }
    .link-fx-wrapper:hover &,
    .link-fx-wrapper.hover & {
        // color: rgba($base-text-color, 0.65);
        &::after {
            transform: translate3d(105%, 0, 0);
        }
        .link-fx3__highlight {
            transform: translate3d(0, 0, 0);
        }
    }
    .link-fx-wrapper:active & {
        &::after {
            transform: translate3d(-105%, 0, 0);
        }
    }
}

// Click effect 
$nav-item-size: 10px;
.link-fx--feedback {
    display: block;
    position: absolute;
    width: $nav-item-size;
    height: $nav-item-size;
    border-radius: 50%;
    background: rgba(#000, 0.1);
    top: 50%;
    left: 50%;
    margin: calc(#{$nav-item-size} / -2 + 10px / 2) 0 0 calc(#{$nav-item-size} / -2);
    pointer-events: none;
    opacity: 0;
}


/* BACKGROUNDS
----------------------------------------------------------------------------------------*/

.fx-bg-reveal {
    width: 100%;
    height: 170px;
    background-color: $light-grey;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    transform: translate3D(0, 0, 0);
    transition: transform 10s;
    &-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        width: 100%;
        height: 100%;
        @include base-transition(all, 0.3s);
    }
    &-trigger,
    &-wrapper {
        &.hover,
        &:hover,
        &:active,
        &:focus {
            opacity: 1;
            visibility: visible;
            .fx-bg-reveal {
                transform: translate3D(0, -50%, 0);
            }
        }
    }
}


/* FX BUBBLE
----------------------------------------------------------------------------------------*/

.fx-transition-bubble-wrapper {
    &--bordered {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 15px solid $base-background;
            overflow: hidden;
    }
}

.fx-transition-bubble {
    display: block;
    position: absolute;
    z-index: 100;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $color2;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
}

.fx-transition-bubble--white {
    background: $body-background;

}