/* $LISTING
   ========================================================================== */

$listing-item_height: 80px;
.listing {
    @extend .list-unstyled;
    padding-bottom: 60px;
    &-info {
        @extend .p-bigger;
        font-weight: 500;
        margin-bottom: $vertical-spacing;
    }
    &__item {
        position: relative;
        padding: 0 !important;
        &:before {
            display: none;
        }
        &:hover {
            .fx-bg-reveal-wrapper {
                opacity: 1;
                visibility: visible;
            }
        }
        &__title {
            position: relative;
            z-index: 10;
            margin: 0;
            font-weight: $bold;
            @media #{$max-small} {
                font-size: #{$h2-size - 2};
            }
            a {
                display: block;
                height: $listing-item_height;
                line-height: $listing-item_height;
                padding: 0 $border-window-spacing 0 #{$border-window-spacing + 40px};
                @media #{$max-small} {
                    padding: 0 $border-window-spacing-sm 0 #{$border-window-spacing-sm + 40px};
                }
                span {
                    position: relative;
                    &:before {
                        content: "";
                        height: 5px;
                        width: 30px;
                        position: absolute;
                        bottom: 0px;
                        transform: translate3D(-40px, 0, 0);
                        background-color: $base-text-color;
                        transition: transform 0.2s cubic-bezier(0.770, 0.000, 0.175, 1.000), width 0.4s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.03s;
                    }
                }
                &:hover {
                    text-decoration: none !important;
                    span {
                        &:before {
                            transform: translate3D(0, 0, 0);
                            width: 100%;
                        }
                    }
                }
            }
        }
        &__embed {
            height: 500px;
            padding: 0 $border-window-spacing 0 #{$border-window-spacing + 40px};
            max-width: 1500px;
            margin: 0 auto;
            margin-bottom: 60px;
            position: relative;
            @media #{$max-small} {
                padding: 0 $border-window-spacing-sm;
                height: 300px;
            }
            &__thumb {
                left: #{$border-window-spacing + 40px};
                right: $border-window-spacing;
                width: auto;
                cursor: pointer;
                @media #{$max-small} {
                    left: $border-window-spacing-sm;
                    right: $border-window-spacing-sm;
                    height: 300px;
                }
            }
            iframe {
                @media #{$max-small} {
                    height: 300px;
                }
            }
            a {
                color: #FFF;
                text-decoration: underline;
            }
        }
    }
}
