/* $VIDEO
   ========================================================================== */

%ratio {
    position: relative; 
    height: 0; 
    overflow: hidden;
    padding-bottom: 50.6%;
    margin-bottom: 20px;
    > video {
        @include centerer();
    }   
}

.video-wrapper { 
    &.ratiotv { 
        @extend %ratio;
    }
    &.ratio-8-16 {
        @extend %ratio;
        padding-bottom: 46.6%;
    }
    &.fit-height { 
        padding-bottom: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        background: #0a0d21;
        margin-bottom: 20px;
        > video {
            @include centerer();
            height: 100%;
        }   
    }
}   
