<section class="section section-text container {{ with .Get "class" }}{{.}}{{ end }}">
	<div class="row">
		<div class="{{ with .Get "colclass" }}{{.}}{{else}}col-sm-6 offset-sm-3{{end}}">
			<div class="video-wrapper {{ if .Get "ratiotv"}}ratiotv{{end}}">
				<video {{ with .Get "id" }}id="{{.}}"{{ end }} class="video-box img-fluid mbs" width="{{ with .Get "width" }}{{.}}{{else}}556{{end}}" height="462" loop=""  style="display: block;" poster="{{ .Get "poster" }}" autoplay="" loop="" muted="muted" playsinline="" webkit-playsinline="">
			    <source id="webmsource" src="{{ .Get "webmsource" }}">
			    <source id="mp4source" src="{{ .Get "mp4source" }}">
			    Sorry, you don't have HTML5 video and we didn't catch this properly in javascript. You can try to view the gif directly: <a href="{{ .Get "gif" }}">{{ .Get "gif" }}</a>.
				</video>
			</div>
		</div><!-- /.col-sm-offset-3 col-6 -->
	</div><!-- /.row -->
</section><!-- /.section-text -->