    <ul class="list-inline nav-social intro__nav-social">
      <li class="smFadeInTop"><a href="https://twitter.com/BastienCornier" target="_blank" ><span class="icon-twitter"></span></a></li>
      <li class="smFadeInTop"><a href="http://codepen.io/erevan" target="_blank" ><span class="icon-codepen"></span></a></li>
      <li class="smFadeInTop"><a href="https://github.com/Bastou" target="_blank" ><span class="icon-github"></span></a></li>
      <li class="smFadeInTop"><a href="http://fr.linkedin.com/in/bastiencornier" target="_blank" ><span class="icon-linkedin"></span></a></li>
      <li class="smFadeInTop"><a href="https://www.behance.net/bastiencornier" target="_blank" ><span class="icon-behance"></span></a></li>
      <li class="smFadeInTop"><a class="no-barba" href="/resume/CV-bastien-cornier.pdf" target="_blank"><span class="icon-contact-cv no-icon" >CV</span></a></li>
    </ul><!-- /.navbar-social -->