<style>#canvas-loader-container,canvas{position:absolute;left:0;top:0;width:100%;height:100%}#canvas-loader-container{background:#060d2f}#canvas-seo-button{clip:rect(0 0 0 0);clip-path:inset(50%);height:1px;overflow:hidden;position:absolute;white-space:nowrap;width:1px}</style>
<div id="canvas-loader-container">
  <canvas id="canvas"></canvas>
  <button id="canvas-seo-button">Discover Bastien Cornier's portfolio</button>
</div>
<script src="{{ .Site.BaseURL }}js/dist/third-eye-sleeper-loader.min.js"></script>
{#
<!-- <script src="{{ .Site.BaseURL }}js/third-eye-sleeper-loader.js"></script> -->
#}
