{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "data-namespace"}}homepage{{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<div class="intro" itemscope itemtype="http://schema.org/Person">
    {{.Content}}
    {{ partial "home-nav-social" }}
</div><!-- /.intro -->

<!-- shtcd linkfx -->
<a class="bottom-link" href="/realisations" data-transition="bubble"><span class="visually-hidden">realisations</span></a>

{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}