/* $THEME NEGATIF
========================================================================== */


/* tn HEADER
------------------------------------------*/

.header-theme-negatif {
    // Logo color 
    #logo-main path {
        fill: #FFF;
    }
    // Links color
    .nav-link,
    .nav-social a,
    .nav-lang a {
        &,
        &:hover {
            &,
            .link-fx1,
            .link-fx2 {
                color: rgba($white, $navlink-opacity);
            }
        }
        .link-fx1,
        .link-fx2 {
            &:before {
                color: $white;
            }
            &:after {
                background-color: $white;
            }
        }
    }
    .nav-social a,
    .nav-lang a {
        &:hover {
            color: $white;
        }
    }
    .nav-lang a.current {
        opacity: 1;
        .link-fx1{
            color: rgba($white, 0.94);
        }    
        .link-fx1:before {
                color: #FFF;
        }    
    }
    .nav-lang a:not(.current), a:hover  {
            .link-fx1 {
                color: rgba($white, 0.5);
            }
    }
}

.theme-negatif {
    @extend .header-theme-negatif;
    /* tn LAYOUT
    ------------------------------------------*/
    background-color: $base-background;
    /* tn TYPOGRAPHY
    ------------------------------------------*/
    color: $white;
    a:hover {
        color: rgba($white, 0.7);
    }
    /* tn LISTING
    ------------------------------------------*/
    .listing {
        &__item {
            a {
                span {
                    &:before {
                        background-color: $white;
                    }
                }
                &:hover {
                    color: $white;
                }
            }
        }
    }
    /* tn MOBILE NAVBAR
    ------------------------------------------*/
    .mobile-navbar {
        background-color: $base-background;
        border-top: 1px solid rgba($body-background, 0.17);
        &__nav {
            .nav-link {
                color: #FFF;
                span.link-fx2 {
                    color: inherit;
                    &:after {
                        background-color: #FFF;
                    }
                    &:before {
                        color: inherit;
                    }
                }
            }
        }
        .nav-item--contact {
            background-color: $base-background;
            #contact-link {
                background-color: $base-background;
            }
            &__menu {
                a {
                    color: #FFF;
                }
                [class^="icon"] {
                        background-color: $base-background;
                }
            }
        }
    }
}
