/* $BUTTONS
========================================================================== */

// Config 
//----------------------------------------------------------------------------------------//
// BTN STANDARD
$btn-standard_txt-color: $base-text-color;
$btn-standard_txt-size: $base-font-size;
$btn-standard_txt-weight: 500;
$btn-standard_txt-transform: inherit;
$btn-standard_padding: 0 35px 0 0;
$btn-standard_border-radius: 0;
$btn-standard_border: none;
$btn-standard_bg-color: transparent;
$btn-standard_height: auto;
$btn-standard_icon: icon-fleche-right-long;
$btn-standard_icon-position: right;
// BTN RING 
$btn-ring_size: 35px;
$btn-ring_font-size: 14px;
$btn-ring_color: $base-text-color;
$btn-ring_border-color: rgba(255, 255, 255, 0.3);
$btn-ring_border-width: 2px;
$btn-ring_color-hover: $dominant-color;
// BTN NOTEXT
$btn_size: 60px;
// BTN ROUNDED
$btn-rounded_size: 80px;
// BTN DROPDOWN
$btn-dropdown_size: 60px;
// BTN BORDERED
$btn-bordered_size: 36px;
$btn-bordered_padding: 0 10px;
$btn-bordered_border: 1px solid rgba(255, 255, 255, 0.3);

// Buttons 
//----------------------------------------------------------------------------------------//

.btn {
    color: $btn-standard_txt-color;
    @include rem('font-size', $btn-standard_txt-size);
    font-weight: $btn-standard_txt-weight;
    text-transform: $btn-standard_txt-transform;
    position: relative;
    height: $btn-standard_height;
    line-height: $btn-standard_height - 3px;
    background-color: $btn-standard_bg-color;
    border: $btn-standard_border;
    border-radius: $btn-standard_border-radius;
    padding: $btn-standard_padding;

    @include base-transition();
    @extend %icon;
    @extend .#{$btn-standard_icon};
    &:not(:last-child) {
        margin-bottom: $paragraph-spacing;
    }
    &:before {
        position: absolute;
        top: -9px;
        right: 0;
        font-size: 2em;
        line-height: $btn-standard_height;
        padding-left: 7px;
        color: $btn-standard_txt-color;
        @include base-transition();

    }
    &:hover,
    &:focus,
    &:active,
    &.hover {
        color: $base-text-color;
        background-color: transparent;
        border-color: $btn-standard_bg-color;
        outline: none !important;
        &:before {
            color: $btn-standard_bg-color;
            transform: translateX(100%);
        }
        [class*="icon-"] {
            color: #FFF;
        }
    }
    &:focus {
        top: 1px;
        border-color: darken($btn-standard_txt-color, 20%);
    }
    [class*="icon-"] {
        display: inline-block;
        margin-right: 9px;
        vertical-align: top;
        color: $dominant-color;
        font-size: 1.0rem;
    }
    &__inner {
        @extend .link-fx2;
        line-height: inherit;
        padding-bottom: 0;
        &:after {
            height : $btn-ring_font-size - 3px;
            background:$grey2;
            bottom: 6px;
        }
    }
}

.btn--left {
    padding:  0 0 0 35px;
    @extend .icon-fleche-left-long;
    &:before {
        position: absolute;
        top: -9px;
        right: auto;
        left:0;
        padding-left: 0;
        padding-right: 7px;
    }
    &:hover,
    &:focus,
    &:active,
    &.hover {
        &:before {
            transform: translateX(-100%);
        }
    }
}

.btn--movetext {
    &:hover,
    &:focus,
    &:active,
    &.hover {
        padding:  0;
    }
}

/* Groupes de boutons
----------------------------------------------------------------------------------------*/

.btn-group {
    @include display(flex);
    @media #{$min-small} {
        // justify-content: space-between;
        align-items: flex-end;
    }
    @media #{$max-small} {
        @include flex-direction(column);
        align-items: flex-start;
    }
    .btn, .btn-ring {
        display: block;
        margin-bottom: 0;
        @media #{$min-small} {
            margin-right: 40px;
        }   
        @media #{$max-small} {
            //width: 100%;
            margin-bottom: 20px;
            margin-top: 5px;
        }
    }
}

/* Customs
----------------------------------------------------------------------------------------*/

/* Nanobar button
------------------------------------------*/

#cookie-bar-button {
    background-color: $dominant-color !important;
}
