    /* $ACCUEIL
========================================================================== */

.home { 
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    //@include base-transition();
    border: 15px solid $base-background;
    touch-action: manipulation;
    &.new-container {
        opacity: 1;
    }
    // on init from loader
    &.show-home {
        opacity: 0;
        border-width: 0; 
    }
    // on show page
    &.show-page {
        .bottom-link {
            &:after, &:before {
                height: 30px;
            }
        }
        .link-fx3:after {
            transition: transform 0.2s ease-out 0.45s; 
        }
    }
    &:not(.show-page) {
        .link-fx3:after {
            //transition: transform 0.5s ease-in-out; 
            transition-delay: 0s;
            transform: translate3d(-105%, 0, 0)
        }
    }
    &.appeared {
        .link-fx3:after {
            transition-delay: 0s;  
        }
    }
    &.init {
        opacity: 0;
    }
    .header-main {
        margin: #{$border-window-spacing - $homeBorder-size} #{$border-window-spacing - $bootstrap-padding - $homeBorder-size} 0;
        @media #{$max-small} {
            margin: #{$border-window-spacing - $bootstrap-padding - $homeBorder-size};
        }
    }
    .intro {
        width: 100%;
        max-width: #{900px + ($border-window-spacing - $homeBorder-size - $bootstrap-padding)*2};
        padding: 0 #{$border-window-spacing - $homeBorder-size - $bootstrap-padding};
        @extend .absolute-center;
        &__nav-social {
            margin-left: 0;
            a {
                color: rgba($base-text-color, 0.6);
                &:hover,
                &:active,
                &:focus {
                    color: $base-text-color;
                }
            }
        }
    }
    .bottom-link { 
        display: block;
        @include centerer('horizontal');
        position: fixed;
        z-index: 1;
        bottom: $homeBorder-size;
        color: #ccc;
        padding: 20px 30px;
        // white line
        &:before, &:after {
            @include line('true', $color2, $width: 1px, $height: 0);
            transition: transform 0.3s ease-in-out, height 0.3s ease-in-out;
        }
        &:after {
            z-index: 1;
            background-color: $body-background; 
            top: 100%;
        }
        
        &:hover {
            &:before {
                transform: translate3d(0, -10px, 0);
            }
            &:after {
                height: #{$homeBorder-size / 2};
            }
        }

        @media #{$max-small} {
            padding: 20vw 30vw;
        }
    }

    .link-fx3:after {
        transition: transform 0.3s ease-out 0.5s; 
    }
}