    /* $ACCUEIL
========================================================================== */

.home {
    overflow: hidden;
    //@include base-transition();
    border: 15px solid $base-background;
    &.new-container {
        opacity: 1;
    }
    &.show-home {
        opacity: 0;
        border-width: 0; 
    }
    &.init {
        opacity: 0;
    }
    .header-main {
        margin: #{$border-window-spacing - $homeBorder-size} #{$border-window-spacing - $bootstrap-padding - $homeBorder-size} 0;
        @media #{$max-small} {
            margin: #{$border-window-spacing - $bootstrap-padding - $homeBorder-size};
        }
    }

    .intro {
        width: 100%;
        max-width: #{900px + ($border-window-spacing - $homeBorder-size - $bootstrap-padding)*2};
        padding: 0 #{$border-window-spacing - $homeBorder-size - $bootstrap-padding};
        @extend .absolute-center;
        &__nav-social {
            margin-left: 0;
            a {
                color: rgba($base-text-color, 0.6);
                &:hover,
                &:active,
                &:focus {
                    color: $base-text-color;
                }
            }
        }
    }
}
