/* $LAYOUT
========================================================================== */

html, 
body,
.body-inner,
.main-wrapper
 {
	min-height: 100vh;
	touch-action: none;
}

html {
	background: $base-background;
}

body {
	position: relative;
	background-color: $body-background;
}

.mobile {
	body {
		min-width: 100%;
	}
}

.wrapper-site {
	position:relative;
	overflow:hidden;
}

/*
 * Contenu principal
 */
 .main-wrapper {
 	position: relative;
 	z-index: $zindex-main-wrapper;
 	@media #{$max-small} {
		margin-bottom: 0;
	}
	&.page-realisations {
		background-color: $base-background;
	}
 }



/* BANNER
----------------------------------------------------------------------------------------*/

.banner {
	position: relative;
	&__text {
		@include centerer('vertical');
		width: 100%;
		text-align: center;
		z-index: 5;

	}
}

.banner-map {
	width: 100%;
	padding-top: 28.6%;
	background-color: $light-grey;
}

.banner-img {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	//padding-top: 28.6%;
	padding-top: 540px;
	background-color: $light-grey;
	&.banner01 {
		background-image: url('../images/bandeau_metiersdoccitanie.jpg');
	}
	@media #{$max-small} {
		padding-top: 260px;
	}
}


/* PAGE CONTENT
----------------------------------------------------------------------------------------*/

// Page content layout

$marge_content-bottom: 120px;

main {
		// Fix les margin top sortant du contenu
	padding-top: 0.1px;
	height: 100%;
	@media #{$max-large} {
		padding-bottom: 80px;
	}

} 
.content { 
	//padding-bottom: $large-value;

	&--listing {
		margin : 0; 
		padding-top: 28vh;
		@media #{$max-small} {
			padding-top: 20vh;
		}

	}
	.section {
		margin-bottom: $vertical-spacing;
		&.row, &.container {
			margin-bottom: #{$vertical-spacing - $bootstrap-padding*2};
			&.section-text {
				margin-bottom: 0;
			}
		}

	}
}

.container {
	img {
		max-width: 100%;
		width: 	100%;
		height: auto;
	}
}

.page__tools {
	float: right;
}

/* SECTIONS
------------------------------------------*/

.section-grey {
	background-color: $grey;
}

.section-lightgrey {
	background-color: $light-grey2;
	&:last-child {
		margin-bottom: -$marge_content-bottom;
	}
}

.bg-extended-wrapper {
	position: relative;
	z-index: 1;
}

.bg-extended {
	@extend .absolute-fit;
	z-index:-1;
	.row {
		height: 100%;
	}
}

/* Article
------------------------------------------*/

.article-banner {
	background-color: $light-grey;
}

.post {
	&__header {
		padding-top: 0.1px;
		margin-bottom: 60px;
	}
	&-content {
		position: relative;
		//background-color: $body-background;
		.section {
			img, video {
				box-shadow: 0px 0px 20px 0px rgba(100,100,100,0.04);
				background: #ededed;
			}
		}
	}
}


.new-container {
	.post-content-fx-cover {
		width: 0;
	}
	.article-banner__img {
		opacity: 0;
	}
}


#post-content-fx-cover {
		position: absolute;
		z-index: -1;
		background-color: $body-background;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
}

/* canvas-loader-wrapper
------------------------------------------*/

#canvas-loader-container {
	@extend .absolute-fit;
	z-index: 100;
}